{% extends "base.html" %}
{% block title %} Статьи {% endblock %}
{% block content %}
     <h1>Список статей</h1>
    <ul>
        {% for article in articles %}
            <li>
                <h2>{{ article.title }}</h2>
                <p>{{ article.content }}</p>
                <p>Автор: {{ article.author.username }}</p>
                <p>Дата публикации: {{ article.pub_date }}</p>
            </li>
        {% empty %}
            <li>Нет доступных статей.</li>
        {% endfor %}
    </ul>
{% endblock %}
