{% extends "base.html" %}
{% block title %} Контакты {% endblock %}
{% block content %}
    <div class="container mt-5">
        {#    <div class="row">#}
        {#        <div class="col-md-6 offset-md-3">#}
        {#            <h2 class="text-center mb-4">Свяжитесь с нами</h2>#}
        {#            <form>#}
        {#                <div class="mb-3">#}
        {#                    <label for="name" class="form-label">Ваше имя</label>#}
        {#                    <input type="text" class="form-control" id="name" placeholder="Введите ваше имя" required>#}
        {#                </div>#}
        {#                <div class="mb-3">#}
        {#                    <label for="email" class="form-label">Электронная почта</label>#}
        {#                    <input type="email" class="form-control" id="email" placeholder="Введите ваш email" required>#}
        {#                </div>#}
        {#                <div class="mb-3">#}
        {#                    <label for="message" class="form-label">Сообщение</label>#}
        {#                    <textarea class="form-control" id="message" rows="5" placeholder="Введите ваше сообщение" required></textarea>#}
        {#                </div>#}
        {#                <button type="submit" class="btn btn-primary">Отправить</button>#}
        {#            </form>#}
       <div class="text-center mt-4 mb-4">
    <h3 class="mb-4">Остались вопросы? Пишите — мы всегда на связи!</h3>
    <div class="col">
        <a href="https://t.me/hto_zdes1">
            <img src="../media/icons/telegram.png" width="64" height="64" alt="Telegram Icon">
        </a>
    </div>
    <div class="col mt-2">
        <a href="https://www.instagram.com/ваш_аккаунт_inst/">
            <img src="../media/icons/instagram.png" width="64" height="64" alt="Instagram Icon">
        </a>
    </div>
</div>


</div>
        {#        </div>#}
        {#    </div>#}
{% endblock %}