{% extends "base.html" %}
{% block title %} Контакты {% endblock %}
{% block content %}
<div class="container mb-1 text-start">
    <h2 class="mb-4 pb-2 border-bottom">Контакты</h2>
    <div class="mt-2 mb-2">
        <div class="row align-items-center"> <!-- Используйте align-items-center для выравнивания элементов по вертикали -->
            <div class="col-6 text-start">
                <h5>Общие вопросы и служба заботы о клиентах</h5>
            </div>
            <div class="col-4 text-start">
                <h5>vse@yasno.live</h5>
            </div>
            <div class="col-1 text-start">
                <a href="https://t.me/hto_zdes1">
                    <img src="../media/icons/telegram.png" width="48" height="48" alt="Telegram Icon">
                </a>
            </div>
            <div class="col-1 text-start">
                <a href="https://www.instagram.com/ваш_аккаунт_inst/">
                    <img src="../media/icons/instagram.png" width="48" height="48" alt="Instagram Icon">
                </a>
            </div>
        </div>
    </div>
</div>

        {#        </div>#}
        {#    </div>#}
{% endblock %}