{% extends "base.html" %}
{% block title %} Сайт психологов — онлайн-сервис психотерапии {% endblock %}
{% block content %}
    <div class="row">
        <div class="col-5 mb-4 mt-4"><h1>
            Соединяем сердца и умы: ваш путь к психическому здоровью начинается здесь.</h1>
            <h1>Поддержка в один клик – ваш психиатр онлайн!
            </h1>
        </div>
    </div>
    <div class="row mt-5">
        <h2 class="text-center mb-4">Проблемы, которые решают психологи</h2>
        <div class="row">
            <!-- Первый ряд -->
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Справиться со стрессом</h5>
                        <p class="card-text">Психологи помогают разработать стратегии управления стрессом и
                            тревогой.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Повысить самооценку</h5>
                        <p class="card-text">Психологи помогают улучшить уровень самооценки и уверенности в себе.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Научиться справляться с фобиями</h5>
                        <p class="card-text">Психологи помогают преодолевать страхи и фобии через терапевтические
                            методы.</p>
                    </div>
                </div>
            </div>
            <!-- Второй ряд -->
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Преодолеть депрессию</h5>
                        <p class="card-text">Психологи помогают в борьбе с депрессией и находят подходящие методы
                            лечения.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Улучшить отношения в семье</h5>
                        <p class="card-text">Психологи помогают решать конфликты и улучшать взаимоотношения в семье.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Помочь при сексуальных проблемах</h5>
                        <p class="card-text">Психологи помогают решать сексуальные дисфункции и проблемы в сексуальных
                            отношениях.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <h2 class="text-center mb-4">Как мы отбираем психиатров</h2>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Только 17% специалистов проходят отбор в нашу команду</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Образование</h5>
                        <p class="card-text">Мы проверяем дипломы на высшее психологическое, гуманитарное и
                            психотерапевтическое образование.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Опыт работы</h5>
                        <p class="card-text">Рассматриваем специалистов с подтвержденной практикой от трех лет.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Рекомендации</h5>
                        <p class="card-text">Просим предоставить рекомендации от супервизора, старших коллег или
                            психологической ассоциации.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Собеседование</h5>
                        <p class="card-text">Разбираем успешные кейсы и проверяем навыки прямо на вступительном
                            интервью.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Этический кодекс</h5>
                        <p class="card-text">Смотрим, разделяет ли кандидат наши ценности. Профессиональный психиатр не
                            оценивает и не осуждает.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Обучение</h5>
                        <p class="card-text">Развиваем психиатров через семинары и супервизии. Даже профессионалам важно
                            учиться.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button class="btn btn-primary">Подобрать психиатра</button>
        </div>
    </div>
    <div class="row mt-5">
        <h2 class="text-center mb-4">О нашем сервисе</h2>
        <div class="row">
            <div class="col-md-6 mx-auto mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Соня</h5>
                        <p class="card-text">Психиатр-интернет, руководитель проекта</p>
                        <p class="card-text">«Мы любим психотерапию и глубоко понимаем её тончайшие нюансы. И наша
                            миссия — в том, чтобы делиться с людьми этой любовью и пониманием»</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <h1>Ответы на частые вопросы</h1>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    <h4>Кто такой психиатр?</h4>
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Психиатр - это врач-специалист, обладающий медицинским образованием и специализирующийся в
                        диагностике, лечении и профилактике психических заболеваний.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4>Что делает психиатр?</h4>
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Психиатр проводит диагностику психических состояний, назначает лечение, включая лекарства и
                        терапевтические методы, и предоставляет поддержку пациентам с психическими расстройствами.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <h4>Как понять, что вам нужен психиатр?</h4>
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Если у вас есть длительные психические проблемы, такие как депрессия, тревожность, биполярное
                        расстройство, или если вы сталкиваетесь с проблемами в поведении или восприятии реальности, то
                        вам
                        может понадобиться консультация психиатра.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    <h4>Какие методы лечения использует психиатр?</h4>
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Психиатры могут использовать различные методы лечения, включая психотерапию, медикаментозное
                        лечение
                        и другие терапевтические подходы в зависимости от диагноза и потребностей пациента.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    <h4>Как долго обычно длится лечение у психиатра?</h4>
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Длительность лечения у психиатра может сильно варьироваться в зависимости от типа психического
                        расстройства и индивидуальных особенностей пациента. Некоторые состояния могут требовать
                        коротких
                        курсов лечения, в то время как другие могут потребовать длительной поддержки и терапии.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    <h4>Могу ли я посещать психиатра без направления врача общей практики?</h4>
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Да, вы можете записаться на прием к психиатру самостоятельно без направления врача общей
                        практики.
                        Однако, в некоторых случаях требуется направление для страхового покрытия. Рекомендуется
                        уточнить
                        это с вашей страховой компанией.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    <h4>Сколько стоит консультация у психиатра?</h4>
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Стоимость консультации у психиатра может различаться в зависимости от региона, опыта врача и типа
                        консультации. Обычно цены варьируются и начинаются от нескольких тысяч рублей.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    <h4>Могу ли я оплатить консультацию у психиатра картой иностранного банка?</h4>
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Доступные методы оплаты консультации у психиатра могут различаться в зависимости от медицинской
                        организации. Однако многие медицинские учреждения принимают платежи по кредитным и дебетовым
                        картам
                        мировых банков.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    <h4>Можно ли провести семейную/парную консультацию у психиатра?</h4>
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Да, многие психиатры предоставляют услуги семейной и парной терапии. Это может быть полезным для
                        решения межличностных проблем и улучшения взаимоотношений в семье или паре.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}